Repository sgammon/rules_graalvm, pull requests merged in 2024-09, with the labels that each got.

#467 chore: sept 2024 omnibus
  .bazelci/presubmit.yml
  .bazelversion
  .github/workflows/check.buildifier.yml
  .github/workflows/check.codeql.yml
  .github/workflows/check.lint-yaml.yml
  .github/workflows/check.scorecards.yml
  .github/workflows/deploy.docs.yml
  .github/workflows/module.build.yml
  .github/workflows/on.pr.yml
  .github/workflows/on.push.yml
  .husky/commit-msg
  .husky/pre-commit
  MODULE.bazel.lock
  example/integration_tests/bzlmod/MODULE.bazel
  example/integration_tests/bzlmod/MODULE.bazel.lock
  example/integration_tests/components-ce/MODULE.bazel.lock
  example/integration_tests/components-oracle/MODULE.bazel.lock
  example/integration_tests/graalvm-ce-22/WORKSPACE.bazel
  example/integration_tests/graalvm-oracle-22/WORKSPACE.bazel
  example/integration_tests/inert/MODULE.bazel.lock
  internal/config.bzl
  internal/graalvm_bindist_map.bzl
  maven_install.json
  package.json
  pnpm-lock.yaml
Labels: bug, dependencies, dev

#451 fix: add data files to inputs
  internal/native_image/classic.bzl
  internal/native_image/rules.bzl
Labels: bug, native-image

#466 Support a `serialization_configuration` option for `native_image`
  graal/graal.bzl
  internal/native_image/builder.bzl
  internal/native_image/common.bzl
Labels: feature, native-image

#476 chore: add support for graalvm at jdk23
  .gitattributes
  .github/workflows/module.build.yml
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  docs/index.md
  example/integration_tests/bzlmod/MODULE.bazel
  example/integration_tests/bzlmod/MODULE.bazel.lock
  example/integration_tests/components-ce/MODULE.bazel.lock
  example/integration_tests/components-oracle/MODULE.bazel.lock
  example/integration_tests/graalvm-ce-23/.bazelrc
  example/integration_tests/graalvm-ce-23/.bazelversion
  example/integration_tests/graalvm-ce-23/.gitignore
  example/integration_tests/graalvm-ce-23/MODULE.bazel
  example/integration_tests/graalvm-ce-23/MODULE.bazel.lock
  example/integration_tests/graalvm-ce-23/WORKSPACE.bazel
  example/integration_tests/graalvm-ce-23/sample/BUILD.bazel
  example/integration_tests/graalvm-ce-23/sample/Main.java
  example/integration_tests/graalvm-oracle-23/.bazelrc
  example/integration_tests/graalvm-oracle-23/.bazelversion
  example/integration_tests/graalvm-oracle-23/.gitignore
  example/integration_tests/graalvm-oracle-23/MODULE.bazel
  example/integration_tests/graalvm-oracle-23/MODULE.bazel.lock
  example/integration_tests/graalvm-oracle-23/WORKSPACE.bazel
  example/integration_tests/graalvm-oracle-23/sample/BUILD.bazel
  example/integration_tests/graalvm-oracle-23/sample/Main.java
  example/integration_tests/inert/MODULE.bazel.lock
  example/integration_tests/shared-lib/MODULE.bazel.lock
  internal/graalvm_bindist_map.bzl
  maven_install.json
  pnpm-lock.yaml
  pom.xml
  tools/bazel/cache.bazelrc
  tools/bazel/strict.bazelrc
Labels: dependencies, release
